
@import url(http://fonts.googleapis.com/css?family=Trade+Winds);
@import url(http://fonts.googleapis.com/css?family=Sideshow);

$sans_serif: Helvetica, Verdana, Arial, sans-serif;
$content_width: 70%;
$normal_font_size: 14pt;
$logo_background: #d7e8ef;

 @mixin gradient {
    background: #f0f0f0;
    background: -webkit-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -moz-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -ms-linear-gradient(top, #f7f7f7, #d1d1d1);
    background: -o-linear-gradient(top, #f7f7f7, #d1d1d1);
    border: solid 1px #7f7f7f;
}

@mixin drop-shadow($color: #555) {
    /* Drop shadow, lower right */

    -moz-box-shadow: 5px 5px 4px $color;
    -webkit-box-shadow: 5px 5px 4px $color;
    box-shadow: 5px 5px 4px $color;
}

@mixin rounded-border($radius: 10px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    padding: $radius;
}

@mixin centered($width: 100%) {
    width: $width;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: $sans_serif;
    font-size: $normal_font_size;
    max-height: 900px;
    background: $logo_background;
}

.store-name {
    font-family: 'Trade Winds', cursive;
    font-size: 24pt;
    color: #ff3300;
}

img.store-logo {
    height: 32px;
    width: 32px;
    border: none;
}
#outer-logo-container {
    width: 100%;

    #logo {
        margin-right: 75px;
        margin-top: 15px;
        float: right;
        width: auto;

        /* Rounded border */
        border-radius: 10px;
        -moz-border-radius: 10px;
        padding: 10px;
        border: 1px solid gray;
        background: $logo_background;

        sup {
            font-size: 12pt;
        }

        .store-slogan {
            font-size: 14pt;
            font-family: 'Sideshow', cursive;
        }

        @include drop-shadow;
    }
}

#content {
    @include centered($content_width);
    height: 80%;
    max-height: 80%;
    padding: 10px;

    border: 1px solid gray;
    background: white;
    @include rounded-border;
}

#navbar {
    font-size: $normal_font_size - 5pt;
    display: inline;
}

#footer {
    font-style: italic;
    font-weight: normal;
    font-size: 10pt;
    font-family: $sans_serif;
    color: gray;

    @include centered($content_width);
    text-align: center;
    margin-top: 1em;
}

#error {
    color: red;
    @include centered($content_width / 2);
    border: 1px solid red;
    @include rounded_border;
    margin-top: 50px;
    font-size: $normal_font_size - 1pt;
}

#login-box {
    @include centered(40%);
    border: 1px solid gray;
    @include rounded-border;
    font-size: $normal_font_size - 2pt;
    background: $logo_background;
    margin-top: 100px;
    padding-bottom: 40px !important;
}

a.button {
    text-decoration: none;
}

.button {
    @include gradient;
    @include rounded-border(5px);
    color: black;
    border: 1px solid gray;

    &:hover {
        color: red;
    }

    &.button-down {
        background: white !important;
        color: black !important;
    }
}

.product-detail {

    .product-name {
        font-size: 24pt;
        font-weight: bold;
        padding: 0;
    }

    .product-description {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;

        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $normal_font_size;
        border-bottom: 1px solid gray;
    }

    .product-price {
        margin: 0;
        padding: 0;
        font-size: 12pt;
        float: right;

        .product-id {
            color: gray;
            font-size: 10pt;
            font-style: italic;
            padding-right: 1em;
        }
    }
}

form {
    width: 100%;

    div.form-row {
        width: 100%;
        display: table-row;

        label {
            width: 50%;
            min-width: 50% !important;
            display: table-cell;
            padding-right: 5px;
        }

        .form-value {
            width: 50%;
            display: table-cell;
        }
    }

    .button-row {
        width: 100%;
        display: table-row;
        text-align: right;
        float: right;
        margin-bottom: 10px;

        input.button {
            text-align: center;
            display: table-cell;
        }
    }
}

#credit-card-block {
    margin-top: 50px !important;
    border: 1px solid gray;
    @include rounded-border(10px);
    @include centered(50%);
    font-size: $normal_font_size - 1pt;
    padding-bottom: 40px !important;
}
